<!DOCTYPE html>
<html>
<head>
  <title>Reset Your Password</title>
</head>
<body>
  <h2>Hello {{name}},</h2>
  <p>You requested to reset your password. Use the OTP below to proceed:</p>
  <h3 style="color: red;">Your OTP: {{otp}}</h3>
  <p>This OTP will expire in 10 minutes.</p>
  <img src="cid:img1" alt="Logo" />
  <p>If you didn’t request this, please ignore this email.</p>
  <p>Thank you!</p>
</body>
</html>
