<!DOCTYPE html>
<html>
<head>
  <title>Welcome to our Platform</title>
</head>
<body>
  <h1>Hello {{name}},</h1>
  <p>Your One-Time Password (OTP) for account verification is: <strong>{{otp}}</strong></p>
  <p>This OTP will expire in 1 day.</p>
  <img src="cid:signup" alt="Logo" />
</body>
</html>
